* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
body {
  background: linear-gradient(to bottom, #fdd105, black);
  min-height: 100vh;
}
a{text-decoration: none;}
.box_card_container{display: flex;flex-wrap: wrap;}
.container {
  max-width: 1330px;
  margin: auto;
}
.shoot_title{display: flex; justify-content: center; align-items: center;margin: 30px;}
.pt-3{padding-top: 30px;}
@media (max-width:1330px) {
  .container{margin: 0px 15px;}
}